@page
@model Server.Pages.ContactModel
@{
	var pageTitle = Resources.PageTitles.Contact;
	ViewData["PageTitle"] = pageTitle;
}

<h3>
	@(pageTitle)
</h3>
<hr />

<div class="row">
	<div class="col">
		@(Resources.DataDictionary.CellPhoneNumber):
		<a href="tel:09351551295">09351551295</a>
		<br />
		@(Resources.DataDictionary.EmailAddress):
		<a href="mailto:info@nimazare.net" target="_blank">info@nimazare.net</a>
		<br />
		@(Resources.DataDictionary.Blog):
		<a href="https://nimazare.net" target="_blank">www.nimazare.net</a>

		<hr />
	</div>
	<div class="col">
		<h5>
			@(Resources.DataDictionary.SocialNetworks)
		</h5>

		<ul dir="ltr">
			<li>Telegram: <a href="https://t.me/FreedomHelper/" target="_blank">https://t.me/FreedomHelper/</a></li>
			<li>GitHub: <a href="https://github.com/NimaZare" target="_blank">https://github.com/NimaZare</a></li>
			<li>Twitter: <a href="https://twitter.com/NimaZareOrg" target="_blank">https://twitter.com/NimaZareOrg</a></li>
			<li>LinkedIn: <a href="https://www.linkedin.com/in/nimazare/" target="_blank">https://www.linkedin.com/in/nimazare/</a></li>
			<li>Instagram: <a href="https://www.instagram.com/nimazareorg/" target="_blank">https://www.instagram.com/nimazareorg/</a></li>
		</ul>
	</div>
</div>

<hr />